/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
    font-family: 'Ibarra Real Nova', 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
  }  

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 17px;
}

.font-lr {
    font-size: 17px;
}

.font-lg {
    font-size: 25px;
}

.mb-sm {
    margin-bottom: 16px !important;
}

.mb-lg {
    margin-bottom: 80px !important;
}

.pb-sm {
    padding-bottom: 16px !important;
}

.pb-lg {
    padding-bottom: 80px !important;
}

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.main-title {
    @extend .font-lg;
    font-weight: 600;
    margin-bottom: 0;
    display: block;
}

.sub-title {
    @extend .font-sm;
    color: $cSubTitle;
}

.flex {
    display: flex;
    flex-direction: column;
}

.purple {
    color: $cWineRed;
}

#container {
    background-color: $cWhite;
    position: relative;
    z-index: 2;
    transition: transform 0.5s, box-shadow 0.5s ;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 5;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0,0,0,0.5);
    }

    &__nav {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        margin-left: 20px;
        text-transform: uppercase;

        & > a {
            color: $cBlack;
            text-decoration: none;
        }
    }

    & .logo {
        font-size: 38px;
        justify-content: center;
    }
}

#main-content {
    position: relative;
    z-index: 0;
}

main {
    position: relative;
    z-index: -1;
}

.travel {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        @extend .flex;
        justify-content: space-between;
        padding: 15px;
        background-color: $cBgGray;
        position: relative;
        z-index: 0;
    }

    &__sub {
        @extend .mb-sm;
    }

    &__img {
        height: 300px;
        @extend .mb-sm;
        transition: box-shadow 1ms linear 0.8s;

        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -1;
        }

        &.inview {
            box-shadow: inset 0 0 30px $cBlack;
        }
    }

    &__texts {
        @extend .mb-sm;
    }

    &__title {
        position: relative;
        @include p-base($display: none,$width: 100px, $height: 1px, $top: 50%, $left: -120px) {
            background-color: $cBlack;
            transform: translateY(-50%) scaleX(0);
            transition: transform 1.6s ease 1.6s;
            transform-origin: right;
        }

        &.inview {
            &::before {
                transform: translateY(-50%);
            }
        }
    }
}

.houses {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        @extend .flex;
    }

    &__title {
        @extend .font-sm;
        @extend .mb-sm;
    }

    &__btn {
        text-align: center;
        flex-basis: 100%;
    }
}

.popular {
    &__inner {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 90%;
            background-color: $cBgGray;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
        @extend .flex;
        @extend .content-width;
        @extend .pb-sm;
    }

    &__header {
        @extend .content-width;
    }

    &__title {
        @extend .font-md;
        @extend .mb-sm;
    }

    &__btn {
        text-align: center;
        flex-basis: 100%;
        @extend .mb-lg;
    }

    &__img {
        height: 150px;
        overflow: hidden;
        margin-bottom: 5px;

        & > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    }
}

.logo {
    font-size: 42px;
    display: flex;

    &__img {
    width: 0.7em;
    }

    &__world {
        color: $cWineRed;
    }
}

.footer {
    padding: 60px 0;
    @extend .content-width;

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul {
        @extend .flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        padding: 0;
        margin: 10px;

        & > a {
            color: $cSubTitle;
        }
    }

    & .logo {
        font-size: 38px;
        justify-content: center;
    }
}

.side {
    display: none;
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    color: $cBlack;
    transition: all 0.3s ease-in;

    & .tween-animate-title {
        margin: 0 40px;
        letter-spacing: 1px;
        color: $cBlack;
        text-decoration: none;
        vertical-align: middle;

    }

    &.left {
        left: -50px;

        &.inview {
            left: 50px;
        }

        & .side__inner {
            transform: rotate(-90deg);
            transform-origin: top left;
        }
    }

    &.right {
        right: -50px;

        &.inview {
            right: 50px;
        }

        & .side__inner {
            transform: rotate(90deg);
            transform-origin: top right;
        }
    }
}

.icon {
    position: relative;

    @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.twitter {
        &::before {
            background-image: url(../../images/twitter.svg);
        }
    }

    &.fb {
        &::before {
            background-image: url(../../images/facebook.svg);
        }
    }
}